{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->
<section class="home-page">
    <div class="background">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <div class="card welcome-card">
                        <div class="card-text">
                            <h1 class="welcome-text">TECH TACKLES</h1>
                            <p>Simplify your IT support with our straightforward ticketing system. 
                            Log in to quickly submit and track your support tickets. 
                            We're here to make tech issues hassle-free!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- index.html content ends here -->
{% endblock %}