{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container mt-4">
    <div class="card mb-4" style="width: 100%;">
        <div class="card-header">
            Ticket ID: {{ ticket.ticket_id }}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Submitted by: {{ ticket.user }}</li>
            <li class="list-group-item">Created On: {{ ticket.created_on }}</li>
            {% if ticket.updated_on != ticket.created_on %}
            <li class="list-group-item">Updated On: {{ ticket.updated_on }}</li>
            {% endif %}
            <li class="list-group-item">Status: {{ ticket.status }}</li>
            <li class="list-group-item">Subject: {{ ticket.subject }}</li>
            <li class="list-group-item">Details:<br>{{ ticket.description|safe }}</li>
        </ul>
    </div>

    <!--Edit and Delete options -->
    {% if user == ticket.user or user.is_staff %}
        {% if ticket.status == 'Open' %}
            <div class="mb-4">
                <a href="{% url 'ticket_edit' ticket.pk %}" class="btn btn-primary">Edit Ticket</a>
                <button type="button" class="btn btn-danger delete-button" data-ticket-id="{{ ticket.pk }}">Delete Ticket</button>
            </div>
        {% endif %}
    {% endif %}    

    <!-- Displaying Comments -->
    <div class="card mb-4">
        <div class="card-body">
            <h4>Comments:</h4>
            <ul>
                {% for comment in ticket.comments.all %}
                <li>{{ comment.user.username }} - {{ comment.created_on }} wrote:
                    {{ comment.comment|linebreaks }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Creating New Comments -->
    <div class="card mb-4">
        <div class="card-body">
            {% if ticket.status == 'Closed' %}
                <p>This ticket is closed. To reopen the issue, please create a new ticket.</p>
                <a href="{% url 'ticket_create' %}">Create Ticket</a>
            {% else %}
                {% if user.is_authenticated %}
                    <h3>Leave a comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form id="commentForm" method="post" style="margin-top: 1.3em;" action="{% url 'add_comment' ticket.pk %}">
                        {{ comment_form|crispy }}
                        {% csrf_token %}
                        <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>
                    {% else %}
                    <p>Log in to leave a comment</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
