{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container mt-5">
    {% if form.instance.pk %}
        <h2>Update Ticket</h2>
    {% else %}
        <h2>Create a New Ticket</h2>
    {% endif %}
        <form method="post" action="{% url 'ticket_create' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <!-- {% if messages %}
    <div class="mt-4">
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %} -->
</div>

{% endblock content %}