{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    {% if user.is_staff %}<h3>All Tickets List</h3>{% else %}<h3>My Tickets List</h3>{% endif %}
    <div class="mb-4">        
        <a href="{% url 'ticket_create' %}" class="btn btn-primary">Create Ticket</a>
    </div>  
    
    <!-- Filter Form -->
    <form method="get" action="" class="mt-3 mb-3">
        <div class="form-group">
            {{ filter_form.status.label_tag }}
            {{ filter_form.status }}
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </form>
    
    <div class="container-fluid">
        <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: auto">
            <table class="table table-striped mb-0">
                <thead>
                    <tr>
                    <th scope="col">Ticket ID</th>
                    <th scope="col">Status</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Created On</th> 
                    <th scope="col">Submitted By</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in object_list %}
                    <tr>
                        <td><a href="{% url 'ticket_detail' ticket.pk %}">{{ ticket.ticket_id }} </a></td>
                        <td>{{ ticket.status }}</td>
                        <td>{{ ticket.subject }}</td>
                        <td>{{ ticket.created_on }}</td>
                        <td>{{ ticket.user }}</td>
                    </tr> 
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    
{% endblock %}
