{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h1>TICKET LIST</h1>
        <button type="button" class="btn btn-primary" data-mdb-ripple-init>
            <a href="{% url 'ticket_create' %}">Create Ticket</a>
        </button>
    <div class="container-fluid">
        <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: auto">
            <table class="table table-striped mb-0">
                <thead>
                    <tr>
                    <th scope="col">Ticket ID</th>
                    <th scope="col">Status</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Submitted By</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in object_list %}
                    <tr>
                        <td><a href="{% url 'ticket_detail' ticket.pk %}">{{ ticket.ticket_id }} </a></td>
                        <td>{{ ticket.status }}</td>
                        <td>{{ ticket.subject }}</td>
                        <td>{{ ticket.user }}</td>
                    </tr> 
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    
{% endblock %}
